
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="page.css"/>
        <link rel="stylesheet" type="text/css" href="http://oystatic.ignimgs.com/src/core/css/widgets/video/embed/content.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/main.js"></script>
        <script type="text/javascript" src="http://use.typekit.net/gcn8akg.js"></script>
        <script type="text/javascript">
            try{Typekit.load();}catch(e){}

            $(window).load(function() {
                $("a").click(function (event){
                    event.preventDefault();
                });
                
                $(".grid").click(function () {
                    $(".grid").addClass("off");
                });
                $("#player").click(function () {
                    $(".grid").removeClass("off");
                });
                
                $("#videos .heading").click(function () {
                    $("#page").removeClass("list-visible");
                });
            });
        </script>
        <script type="text/javascript" src="http://oystatic.ignimgs.com/src/core/js/widgets/global/page/swfobject.js"></script>
        <script type="text/javascript" src="http://s0.2mdn.net/instream/html5/ima3.js"></script>
        <script type="text/javascript" src="http://oystatic.ignimgs.com/src/core/js/dfp-ima-html5.js"></script>
        <script type="text/javascript" src="http://oystatic.ignimgs.com/src/core/js/widgets/video/embed/content.js"></script>
    </head>
    <body>
        <div class="grid off">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
        </div>
        
        <div id="page" class="">
            <div id="header"></div>
            <div id="playing">
                <div id="player-container">
                    <div id="player">
                        <div class="controls">
                            <div class="control fullscreen"></div>
                            <div class="control pause"></div>
                            <div class="control skip"></div>
                        </div>
                        <video width="320" height="240" autoplay loop muted>
                            <source id="video-source" src="http://assets.ign.com/videos/zencoder/640/e5a7dda27747835fa960f455d00ed72b-500000-1403719352-w.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                
                <div id="current-video-metadata" class="meta-full">
                    <div class="name">Can You Name a Game from Just Its Slogan? - Game Scoop!</div>
                    <div class="metadata">
                        <div class="series">IGN GameScoop! TV</div>
                        <div class="timestamp">5:37</div>
                    </div>
                    <div class="thumb" style="background-image: url('http://assets1.ignimgs.com/vid/thumbnails/user/2014/06/25/Gamescoop_NameThatGame_1280.jpg');"></div>
                    <div class="description">Halo 3 had "Finish the fight." Infamous: Second Son had "Enjoy your power." Test your knowledge with a few other slogans. This conversation originally appeared in Game Scoop! Episode 307. Halo 3 had "Finish the fight." Infamous: Second Son had "Enjoy your power." Test your knowledge with a few other slogans. This conversation originally appeared in Game Scoop! Episode 307.</div>
                </div>
            </div>
            
            <div id="channels">
                <div class="channel search">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-searchpng-6e4e77_320w.png');"></div>
                    <div class="name">Search</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets2.ignimgs.com/2014/06/26/icon-topstoriespng-6e4e61.png');"></div>
                    <div class="name">Top Stories</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets2.ignimgs.com/2014/06/26/icon-newspng-6e4e5f.png');"></div>
                    <div class="name">News</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-reviewspng-b68de9.png');"></div>
                    <div class="name">Game Reviews</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-reviewspng-b68de9.png');"></div>
                    <div class="name">Movie Reviews</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-trailerpng-6e4e66.png');"></div>
                    <div class="name">Game Trailers</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-trailerpng-6e4e66.png');"></div>
                    <div class="name">Movie Trailers</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-podcastpng-b68de8.png');"></div>
                    <div class="name">Podcast Beyond!</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-podcastpng-b68de8.png');"></div>
                    <div class="name">Podcast Unlocked</div>
                    <div class="updates">3</div>
                </div>
                
                <div class="channel">
                    <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-podcastpng-b68de8.png');"></div>
                    <div class="name">Nintendo Voice Chat</div>
                    <div class="updates">3</div>
                </div>
            </div>
            
            <div id="videos" class="visible">
                <div class="heading">Top Stories / Queue</div>
                <div id="videos-container">
                    <div id="video-list">
                    
                    </div>
                    <a class="load-more" href="">Load more</a>
                </div>
            </div>
        </div>
        
        <div id="controls">
            <div id="core-controls">
                <div class="control fullscreen"></div>
                <div class="control scrubber"></div>
                <div class="control pause"></div>
                <div class="control skip"></div>
            </div>
            
            <div id="logo"></div>
            
            <div id="queue">
                <div class="video">
                    <div class="metadata">
                        <div class="label">Playing next:</div>
                        <div class="name">Bayonetta 3 Could Happen as Nintendo Exclusive</div>
                        <div class="series">IGN News</div>
                        <div class="timestamp">0:55</div>
                    </div>
                <div class="control open-queue"></div>
                    <div class="thumb" style="background-image: url('http://assets1.ignimgs.com/vid/thumbnails/user/2014/06/26/nbbbb_small.jpg');"></div>
                </div>
            </div>
        </div>

        <script type="text/template" class="template" id="channel-template">
            <div class="channel" data-slug="<%= data.slug %>">
                <div class="icon" style="background-image: url('http://assets1.ignimgs.com/2014/06/26/icon-podcastpng-b68de8.png');"></div>
                <div class="name"><%= data.title %></div>
                <div class="updates">3</div>
            </div>
        </script>

        <script type="text/template" class="template" id="playlist-item-template">
            <div class="video">
                <div class="play-options" 
                    data-asset="<%= data.assetToUse.url %>"
                    data-title="<%= data.metadata.name %>"
                    data-description="<%= data.metadata.description %>"
                    data-img="<%= data.thumbnails[0].styleUrl %>"
                    data-duration="<%= data.metadata.duration %>"
                    data-series="<%= data.extra.videoSeries %>"
                >
                    <div class="play-option">Play now</div>
                    <div class="play-option">Play next</div>
                </div>
                <div class="left">
                    <div class="name"><%= data.metadata.name %></div>
                    <div class="metadata">
                        <div class="series"><%= data.extra.videoSeries %></div>
                        <div class="timestamp"><%= data.metadata.duration %></div>
                    </div>
                </div>
                <div class="thumb" style="background-image: url('<%= data.thumbnails[0].styleUrl %>');"></div>
            </div>
        </script>

        <script type="text/template" class="template" id="video-metadata-template">
            <div class="name"><%= data.title %></div>
            <div class="metadata">
                <div class="series"><%= data.series %></div>
                <div class="timestamp"><%= data.duration %></div>
            </div>
            <div class="thumb" style="background-image: url('<%= data.img %>');"></div>
            <div class="description"><%= data.description %></div>
        </script>
        
    </body>
</html>
